.container{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    align-items: center;
}
.redes{
    margin-right: 1em;
}
#ap{
    width: 150px;
}
img{
    width: 40px;
}
.btn{
    border-width: medium;
}