<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/AP.png" id="ap">
        </div>
        <div class="redes">
            <div>
                <a href=""><img src="../../../assets/behance.png" alt=""></a>
                <a href=""><img src="../../../assets/correo.png" alt=""></a>
                <a href=""><img src="../../../assets/instagram.png" alt=""></a>
                <a href=""><img src="../../../assets/linkedin.png" alt=""></a>
                <a href=""><img src="../../../assets/whatsapp.png" alt=""></a>
                <a href=""><img src="../../../assets/github.png" alt=""></a>
                <button type="button" class="btn btn-outline-light">Ingreso</button>
                </div>
        </div>
    </div>
</div>

