<div class="container-fluid">
    <div class="row">
        <h1>Educacion</h1>
        <div class="col-lg-2">
            <button type="button" class="btn btn-primary" routerLink="/nuevaedu" *ngIf="isLogged">
                Nueva Educacion
            </button>
        </div>
        <div class="row justify-content-end">
            <div class="col-lg-10">
                <table class="table">
                    <tbody>
                        <tr *ngFor="let Educacion of edu">
                            <td>
                                <h2> {{Educacion.nombreE}}</h2>
                            </td>
                            <td>
                                {{Educacion.descripcionE}}
                            </td>
                            <td *ngIf="isLogged">
                                <button class="btn btn-primary" routerLink="/editedu/{{Educacion.id}}">
                                    <i class="bi bi-pen-fill"></i> Editar
                                </button>
                            </td>
                            <td *ngIf="isLogged">
                                <button class="btn btn-primary" (click)="delete(Educacion.id)">
                                    <i class="bi bi-x-lg"></i> Borrar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>