<div class="row">
    <h1>Educación:</h1>
    <div class="col-lg-11">
        <ul>
            <li><h1>Estudio 1</h1> 
               <h3> (years) </h3></li>
            <p>Diseño y creación de piezas gráficas, desarrollo y mantenimiento de páginas web y creación de contenido para redes Facebook, Instagram, branding de marcas, edición de videos, programación de contenido, Facebook Ads, Instagram Ads, Google Ads, para marcas nacionales e internacionales.
            Aptitudes: Diseño de redes sociales · Anuncios de Facebook · Páginas de Facebook personalizadas · Administrador de anuncios de Facebook · Facebook · Marketing en Facebook · Programas de diseño Adobe · After Effects · Adobe InDesign · Ruby · JavaScript · HTML5 · Microsoft SQL Server · Diseño de logotipos · Adobe Photoshop · Adobe Illustrator · Diseño gráfico · Adobe Premiere Pro</p>
        </ul>
        <ul>
            <li><h1>Estudio 2</h1> 
             <h3>(years) </h3></li>
            <p>Diseño y creación de piezas gráficas, mantinimiento de páginas web y de contenido para redes Facebook, Instagram, branding de marcas, edición de videos, programación de contenido, Facebook Ads, Instagram Ads, Google Ads.Diseño y creación de piezas gráficas, páginas web y de programas de diseño Adobe · After Effects · Adobe InDesign · Ruby · JavaScript · HTML5 · Microsoft SQL Server · Diseño de logotipos · Adobe Photoshop · Adobe Illustrator · Diseño gráfico · Adobe Premiere Pro</p>
        </ul>
        
    </div>
</div>

