<div class="row">
        <button type="button" class="btn btn-primary" routerLink="/editacercade/1" *ngIf="isLogged"> 
            Editar Persona
        </button>
        
        <img src="../../../assets/Foto.png" class="img-fluid" id="Foto">
    </div>
    <div class="row justify-content-end">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <p id="nombre"> {{ per.nombre }} {{ per.apellido }}</p>
            <p>Fullstack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <span>
                <h1>Acerca de mí</h1>
                <p>{{ per.descrip }}</p>
            </span>
        </div>
    </div>
    