<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="Pnombre">Nombre de la Persona</label>
                    <input type="text" class="form-control" id="Pnombre" name="Pnombre" [(ngModel)]="per.nombre"
                        required />
                </div>
                <div class="form-group">
                    <label for="Papellido">Apellido de la Persona</label>
                    <input type="text" class="form-control" id="Papellido" name="Papellido" [(ngModel)]="per.apellido"
                        required />
                </div>
                <div class="form-group">
                    <label for="Pdescripcion">Acerca de mi descripcion</label>
                    <input type="text" class="form-control" id="Pdescripcion" name="Pdescripcion"
                        [(ngModel)]="per.descrip" required />
                </div>


                <br>
                <button type="submit" class="btn btn-primary">
                    Actualizar persona
                </button>
            </form>
        </div>
    </div>
</div>